/* src\components\InfoAluno\styles.css */

.info-aluno {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  background-color: #d6ebfd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-aluno h2 {
  color: #333;
  margin-bottom: 10px;
}

.info-aluno p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin: 8px 0;
}